# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml
*.swp

# Backend
backend/target/
backend/HELP.md

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Logs
*.log

# Env
.env
.env.local

# Docker volumes
postgres_data/